##############################
# Motion
##############################
# All the endstops were wrong for me
# I had to reverse some motors, this will of course depend on wiring
# [printer]
# kinematics: hybrid_corexy

[mcu]
canbus_uuid: 00b8fb30d8bc

[mcu toolboard_t0]
canbus_uuid: d66463aaf621

[mcu toolboard_t1]
canbus_uuid: c16e6f2864c4

# ====== Direction and rotation distances ======
[stepper_x]
dir_pin: x_dir_pin 
rotation_distance: 40 # 20 tooth gt2
[dual_carriage]
dir_pin: !dual_carriage_dir_pin
rotation_distance: 40
[stepper_y]
dir_pin: !y_dir_pin
rotation_distance: 36.55 
[stepper_y1]
dir_pin: y1_dir_pin
rotation_distance: 36.55 
[stepper_z]
dir_pin: z0_dir_pin
rotation_distance: 4 # 4 for TR8*4 lead screws
[stepper_z1]
dir_pin: !z1_dir_pin
rotation_distance: 4
[stepper_z2]
dir_pin: z2_dir_pin
rotation_distance: 4

# ====== Endstops and limits ======
[stepper_x]
endstop_pin: ^toolboard_t0: PB5
position_endstop: -60
position_min: -60
position_max: 225
[gcode_macro T0]
variable_loading_position: -40 # filament load x position
variable_parking_position: -60 # parking x position

[dual_carriage]
endstop_pin: ^toolboard_t1: PB5
position_endstop: 285
position_min: 0
position_max: 285
safe_distance: 60
[gcode_macro T1]
variable_loading_position: 265 # filament load x position
variable_parking_position: 285 # parking x position

[stepper_y]
# endstop_pin: ^!PF5
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_min: 0
position_max: 325

[stepper_z]
endstop_pin: probe:z_virtual_endstop
position_min: -0.35
position_max: 260
homing_speed: 10

# ====== Sensorless homing ========
# Tune the current variable and the SGTHRS value in the included file(s) untill you get reliable homing.
# Beware of false instant triggering which can make it look like the homing procedure is skipping an axis, when in fact it's not.
# This is especially true for the Y axis on CoreXY machines.
#
# Read the klipper documentation for more info: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
#
# Note: if your board has diag jumpers, you would need to insert them for the specific drivers you want to use for sensorless homing on.
# Note: Sensorless homing does NOT work if you drivers have a missing DIAG pins.
# Check https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing for tuning instructions.
[tmc2209 stepper_y]
diag_pin: ^y_diag_pin
driver_SGTHRS: 100 # Lower value = lower sensitivity, range 0 to 255
 
[gcode_macro RatOS]
variable_homing_y: "sensorless"
variable_sensorless_y_current: 1.014
# variable_safe_home_x: 80 # Defaults to middle
# variable_safe_home_y: 0
variable_home_y_first: True

# If physical endstops are used per motor, it will auto straighten
# [stepper_y1]
# endstop_pin: 



##############################
# Bed and probe
##############################
[probe_eddy_ng btt_eddy]
sensor_type: ldc1612
i2c_mcu: toolboard_t0 # MCU name of the board connected to Eddy Coil
i2c_bus: i2c3_PB3_PB4 # I2C bus connected to Eddy Coil
x_offset: 18.50
y_offset: 51.80

[gcode_button tool_probe]
pin: ^PC1
press_gcode: {action_respond_info("Probe is HIGH")}
release_gcode: {action_respond_info("Probe is LOW")}

[bed_mesh]
# speed: 300
horizontal_move_z: 2
# Mesh min an max are the coordinates of the PROBE
mesh_min: -35, 55
mesh_max: 238.5, 310
probe_count: 10, 10
scan_overshoot: 5
fade_start: 1.0
fade_end: 10.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2

[z_tilt]
horizontal_move_z: 2.0
z_positions:
	-40, 7
	112.50, 317
    268, 7
    # Order is Z, Z1, Z2
points:
	-45, 0
    95, 245
    225, 0
# Center is at center when x = 95
#   A list of X, Y coordinates to be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the NOZZLE and be sure the probe is above
#   the bed at the given nozzle coordinates.
retries: 10
retry_tolerance: 0.02 # 3 points
# retry_tolerance: 0.3 # 4 points

[axis_twist_compensation]
speed: 100
horizontal_move_z: 2
# X axis
calibrate_start_x: -25
calibrate_end_x: 213
calibrate_y: 162.5
# Y Axis
calibrate_start_y: 55 
calibrate_end_y: 310
calibrate_x: 112.5

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_ORIG
gcode:
	# ABL=True means we do Z home and z-tilt
	MAYBE_HOME ABL=True
	_MOVE_TO_SAFE_Z_HOME
	PROBE_EDDY_NG_TAP
	BED_MESH_CALIBRATE_ORIG METHOD=rapid_scan