##############################
# Peripherals: Lighting
##############################
[output_pin printer_light]
pin: PE6
pwm: False # Set to False for on/off control

[output_pin offset_light]
pin: PE5
pwm: False

##############################
# Peripherals: Camera Control
##############################
[gcode_shell_command set_cam_state]
command: /home/pi/cubidex-klipper/scripts/set_cam_state.sh
timeout: 8

[gcode_macro ENABLE_CAM1]
gcode:
    RUN_SHELL_COMMAND CMD=set_cam_state PARAMS="'cam 1' enable"

[gcode_macro DISABLE_CAM1]
gcode:
    RUN_SHELL_COMMAND CMD=set_cam_state PARAMS="'cam 1' disable"
