##############################
# Thermal
##############################
[heater_bed]
# Avoid multiples of 50hz and 60hz for better temp stability
# Also ensure its below SSR safe switch freq, mine is 45 Hz
pwm_cycle_time: 0.103
heater_pin: PB7
sensor_pin: PA1
sensor_type: Generic 3950 #NTC 100K MGB18-104F39050L32
min_temp: 0
max_temp: 100
control: pid
# Should be tuned using
# PID_CALIBRATE HEATER=heater_bed TARGET=60
pid_Kp: 54.040
pid_Ki: 2.402
pid_Kd: 303.976

# Tune extruders
# PID_CALIBRATE HEATER=extruder TARGET=220
# PID_CALIBRATE HEATER=extruder TARGET=220

[temperature_sensor chamber]
sensor_type: PT1000
sensor_pin: PA0
min_temp: 0
max_temp: 100
gcode_id: C

##############################
# Fans
##############################

[fan]
# Original config pin: rpi:gpio4, gives 
# mcu 'rpi' error during config: Unable to open out GPIO chip line
pin: PC12  # I don't use this pin

[fan_generic part_fan_t0]
pin: PB9
max_power: 0.7 # Nidec fan is not made to be run at 24 V, hopefully this can spare it
cycle_time: 0.000037
hardware_pwm: True
off_below: 0.3
tachometer_pin: PC15
tachometer_ppr: 4
tachometer_poll_interval: 0.0005

[fan_generic part_fan_t1]
pin: PB8
max_power: 0.7
cycle_time: 0.000037
hardware_pwm: True
off_below: 0.3
tachometer_pin: PC14
tachometer_ppr: 4
tachometer_poll_interval: 0.0005

[controller_fan controller_fan]
pin: PE1 # I use hotend pin for these fans

# If using the other fan port than RatOS configures
# [heater_fan toolhead_cooling_fan_t1]
# pin: toolboard_t1:PA0
[heater_fan toolhead_cooling_fan_t0]
pin: toolboard_t0:PA0
