#####################################################################
# MCUs Configuration
#####################################################################
[mcu]
canbus_uuid: 00b8fb30d8bc

[mcu toolboard_t0]
canbus_uuid: d66463aaf621

[mcu toolboard_t1]
canbus_uuid: c16e6f2864c4

#####################################################################
# Printer Kinematics
#####################################################################
[printer]
kinematics: hybrid_corexy
max_velocity: 500
max_accel: 5000
max_z_velocity: 20
max_z_accel: 200

#####################################################################
# X & Dual Carriage Steppers (Motors 5 & 3)
#####################################################################
[stepper_x]
# Motor 5 on Manta M8P V1.1
dir_pin: x_dir_pin
endstop_pin: ^toolboard_t0:PB5
position_endstop: -5
position_min: -5
position_max: 292

[dual_carriage]
axis: x
# Motor 3 on Manta M8P V1.1
dir_pin: !dual_carriage_dir_pin
endstop_pin: ^toolboard_t1:PB5
position_endstop: 350
position_min: 60
position_max: 350

#####################################################################
# Y Steppers (Motor 4 & Motor 2)
#####################################################################
[stepper_y]
# Motor 4 on Manta M8P V1.1
endstop_pin: ^!PF5
position_endstop: 289
position_min: 0
position_max: 289

#####################################################################
# Z Steppers (Motors 8, 1, 7)
#####################################################################
[stepper_z]
# Motor 8 on Manta M8P V1.1
dir_pin: z0_dir_pin
endstop_pin: ^PC0
position_endstop: 3
position_min: -0.2
position_max: 260

[stepper_z1]
# Motor 1 on Manta M8P V1.1
dir_pin: !z1_dir_pin

[stepper_z2]
# Motor 7 on Manta M8P V1.1
dir_pin: z2_dir_pin

#####################################################################
# Heaters & Bed Temperature
#####################################################################
[heater_bed]
pwm_cycle_time: 0.103
heater_pin: PB7
sensor_pin: PA1
sensor_type: Generic 3950
min_temp: 0
max_temp: 100
control: pid
pid_Kp: 54.040
pid_Ki: 2.402
pid_Kd: 303.976

#####################################################################
# Auxiliary Temp Sensors & Output Pins
#####################################################################
[temperature_sensor chamber]
sensor_type: PT1000
sensor_pin: PA0
min_temp: 0
max_temp: 100
gcode_id: C

[output_pin printer_light]
pin: PE6
pwm: False

[output_pin offset_light]
pin: PE5
pwm: False

#####################################################################
# BTT Eddy Current Probe
#####################################################################
[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 1.8
i2c_mcu: toolboard_t0
i2c_bus: i2c3_PB3_PB4
x_offset: -20
y_offset: 67

#####################################################################
# Fan Configuration
#####################################################################
[fan]
pin: PC12  # Dummy pin to satisfy Klipper default requirements

[fan_generic part_fan_t0]
pin: PB9
max_power: 0.7
cycle_time: 0.000037
hardware_pwm: True
off_below: 0.3
tachometer_pin: PC15
tachometer_ppr: 4
tachometer_poll_interval: 0.0005

[fan_generic part_fan_t1]
pin: PB8
max_power: 0.7
cycle_time: 0.000037
hardware_pwm: True
off_below: 0.3
tachometer_pin: PC14
tachometer_ppr: 4
tachometer_poll_interval: 0.0005

[controller_fan controller_fan]
pin: PE1

#####################################################################
# Bed Mesh & Z-Tilt Configuration
#####################################################################
[bed_mesh]
horizontal_move_z: 2
mesh_min: 10, 10
mesh_max: 271, 279
probe_count: 20,20
fade_start: 1.0
fade_end: 10.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2

[z_tilt]
z_positions:
	0,0
	150,300
	300,0

points:
	20,10
	150,240
	280,10
		
horizontal_move_z: 20
retries: 10
retry_tolerance: 0.02
