#####################################################################
# Custom User & Maintenance Macros
#####################################################################

#####################################################################
# BTT Eddy Probe Calibration & Mesh Macros
#####################################################################
[gcode_macro SET_GCODE_OFFSET]
rename_existing: SET_GCODE_OFFSET_ORIG
variable_restored: False
variable_runtime_offset: 0
gcode:
    SET_GCODE_OFFSET_ORIG { rawparams }

[gcode_macro _PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
description: Frequency mapping and probe calibration helper
gcode:
    BED_MESH_CLEAR
    G28 X Y
    G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
    {% if 'z' not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 }
    {% endif %}
    PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
    BTT_BED_MESH_CALIBRATE SCAN_MODE=rapid METHOD=scan

#####################################################################
# Crowsnest Camera State Controls
#####################################################################
[gcode_shell_command set_cam_state]
command: /home/pi/cubidex-klipper/scripts/set_cam_state.sh
timeout: 8

[gcode_macro ENABLE_CAM1]
description: Enable camera 1 stream in crowsnest
gcode:
    RUN_SHELL_COMMAND CMD=set_cam_state PARAMS="'cam 1' enable"

[gcode_macro DISABLE_CAM1]
description: Disable camera 1 stream in crowsnest
gcode:
    RUN_SHELL_COMMAND CMD=set_cam_state PARAMS="'cam 1' disable"
