[gcode_macro HOME_X]
gcode:
	# config
	{% set x_homed = 'x' in printer.toolhead.homed_axes %}
	{% set homing = printer["gcode_macro RatOS"].homing|lower %}
	{% set homing_x = printer["gcode_macro RatOS"].homing_x|lower %}
	{% set homing_x = homing_x if homing_x else homing %}
	{% set speed = printer["gcode_macro RatOS"].macro_travel_speed|float * 60 %}
	{% set printable_x_max = printer["gcode_macro RatOS"].printable_x_max|float %}
	{% set safe_home_x, safe_home_y = printer.ratos.safe_home_position %}

	# parameter
	{% set X = true if params.X|lower == 'true' else false %}
	{% set Y = true if params.Y|lower == 'true' else false %}
	{% set Z = true if params.Z|lower == 'true' else false %}
	{% set y_homed = 'y' in printer.toolhead.homed_axes %}

	DEBUG_ECHO PREFIX="HOME_X" MSG="printable_x_max: {printable_x_max}, safe_home_x: {safe_home_x}, axis_maximum.x: {printer.toolhead.axis_maximum.x}, bed_margin_x: {printer['gcode_macro RatOS'].bed_margin_x}"

	# home x
	{% if X or not Y and not Z %}
		{% if not y_homed %}
			CONSOLE_ECHO TITLE="HOME_X" TYPE="warning" MSG="Y is not homed. Skipping X home. Use MAYBE_HOME or home Y first."
		{% else %}
			{% if homing_x == 'endstop' %}
				G28 X
			{% elif homing_x == 'sensorless' %}
				{% if printer["dual_carriage"] is defined %}
					{ action_emergency_stop("sensorless homing not supported on IDEX!") }
				{% endif %}
				HOME_X_SENSORLESS
			{% else %}
				{ action_emergency_stop("expected RatOS variable_homing_x to be 'sensorless' 'endstop' or variable_homing to be 'sensorless' or 'endstops' but found {} and {}".format(homing_x, homing)) }
			{% endif %}
			{% if printer["dual_carriage"] is defined %}
				# park secondary toolhead in its parking position instead of the endstop position
				{% set default_toolhead = printer["gcode_macro RatOS"].default_toolhead|default(0)|int %}
				{% set parking_position = printer["gcode_macro T%s" % (0 if default_toolhead==1 else 1)].parking_position|float %}
				SET_DUAL_CARRIAGE CARRIAGE={0 if default_toolhead==1 else 1} MODE=PRIMARY
				G1 X{parking_position} F{speed}
				SET_DUAL_CARRIAGE CARRIAGE={default_toolhead} MODE=PRIMARY
			{% endif %}
			{% set x_homed = True %}
			G0 X{safe_home_x} F{speed}
			M400 # Wait for moves to finish
		{% endif %}
	{% endif %}